<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/template/images/web_logo.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/template/css/login.css">
    <title>Faturne - Добро пожаловать!</title>
</head>
<body>
    <header class="header">
        <div class="wrapper">
            <div class="header__wrapper">
                <div class="header__logo">
                    <a href="/" class="header__logo-link">
                        <img src="/template/images/Logo2.svg" alt="Faturn - Добро пожаловать!" class="header__logo-pic">
                    </a>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <section class="intro">
            <div class="wrapper">
                <h1 class="intro_title">
                    Добро пожаловать!
                </h1>
                <p class="intro_subtitle">
                    Прежде, чем начнём работу,выберите ваш статус:
                </p>
             
                <ul class="header__list">
                    <li class="header__item">
                    <a href="/login/user" class="btn">Клиент</a>
                </li>
                <li class="header__item">
                    <a href="/login/cafe" class="btn">Кафе</a>
                </li>
                </ul>
                <p class="intro_subtitle2">
                    <a href="/user/register" class="intro__pick-link">
                        Впервые с нами? Регистрируйся! <img src="/template/images/intro_link.svg" width="35px"class="intro__pic-project">
                    </a>
                </p>
           </div> 
        </section>
    </main>
</body>
</html>